@model DTO.DataAccess.DataAccess.DTO.AddressEntity
@{
    ViewData["Title"] = "Addresses Details";
}
<h1>Addresses Details</h1>
<dl class="row">
    <dt class="col-sm-2">Name</dt><dd class="col-sm-10">@Model.Name</dd>
    <dt class="col-sm-2">Full Address</dt><dd class="col-sm-10">@Model.FullAddress</dd>
</dl>
<p><a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> | <a asp-action="Index">Back</a></p>
