@model DTO.DataAccess.DataAccess.DTO.InvoiceEntity
@{
    ViewData["Title"] = "Create Invoices";
}
<h1>Create Invoices</h1>
<form asp-action="Create" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3"><label asp-for="AddressId" class="form-label"></label><select asp-for="AddressId" class="form-select" asp-items="ViewBag.AddressId"></select></div>
    <div class="mb-3"><label asp-for="ServiceId" class="form-label"></label><select asp-for="ServiceId" class="form-select" asp-items="ViewBag.ServiceId"></select></div>
    <div class="mb-3"><label asp-for="InvoiceDate" class="form-label"></label><input asp-for="InvoiceDate" class="form-control" type="date" /></div>
    <div class="mb-3"><label asp-for="PeriodStart" class="form-label"></label><input asp-for="PeriodStart" class="form-control" type="date" /></div>
    <div class="mb-3"><label asp-for="PeriodEnd" class="form-label"></label><input asp-for="PeriodEnd" class="form-control" type="date" /></div>
    <div class="mb-3"><label asp-for="TotalSum" class="form-label"></label><input asp-for="TotalSum" class="form-control" /></div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }
