@model DTO.DataAccess.DataAccess.DTO.ContactMonthlyStatementEntity
@{
    ViewData["Title"] = "Create Contact Monthly Statements";
}
<h1>Create Contact Monthly Statements</h1>
<form asp-action="Create" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3"><label asp-for="MonthlyStatementId" class="form-label"></label><select asp-for="MonthlyStatementId" class="form-select" asp-items="ViewBag.MonthlyStatementId"></select></div>
    <div class="mb-3"><label asp-for="ContactId" class="form-label"></label><select asp-for="ContactId" class="form-select" asp-items="ViewBag.ContactId"></select></div>
    <div class="mb-3"><label asp-for="Amount" class="form-label"></label><input asp-for="Amount" class="form-control" /></div>
    <div class="form-check mb-3"><input asp-for="EmailSent" class="form-check-input" /><label asp-for="EmailSent" class="form-check-label"></label></div>
    <div class="mb-3"><label asp-for="EmailSentAt" class="form-label"></label><input asp-for="EmailSentAt" class="form-control" /></div>
    <div class="form-check mb-3"><input asp-for="Paid" class="form-check-input" /><label asp-for="Paid" class="form-check-label"></label></div>
    <div class="mb-3"><label asp-for="PaidAt" class="form-label"></label><input asp-for="PaidAt" class="form-control" /></div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }
